.body_SC {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #282c34;
  /* Uncomment the following lines to add a background image */
  /* background-image: url('path_to_your_image.svg'); 
  background-repeat: no-repeat;
  background-size: cover; */
}

.calculator {
  background: transparent; /* Calculator box color */
  border-radius: 10px;
  padding: 20px;
  backdrop-filter: blur(40px);
  width: 400px; /* Base width for desktop */
  max-width: 100%;
  box-sizing: border-box;
}

.display {
  background: transparent; /* Display background */
  color: #f0f0f0; /* Text color */
  font-size: 2em;
  padding: 20px;
  text-align: right;
  border-radius: 5px;
  font-weight: 600;
  box-shadow: inset 0 4px 6px rgba(0, 0, 0, 0.25);
  margin-bottom: 20px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

button {
  background: #1f2023; /* Button background */
  border: none;
  color: #ffffff;
  font-size: 1.5em;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.25);
  transition: all 0.2s;
}

button:hover {
  background: #ffffff; /* Hover color */
  transform: translateY(-2px);
  color: black;
}

button:active {
  background: #4c4c8c; /* Active color */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  transform: translateY(0);
}

.equal {
  grid-column: span 2;
  background: #c84335; /* Equal button color */
}

.equal:hover {
  background: #ff6f61; /* Equal button hover color */
}

.equal:active {
  background: #c0392b; /* Equal button active color */
}

.zero {
  grid-column: span 1;
}

/* Responsive Design */
@media screen and (max-width: 600px) {
  .calculator {
    width: 90%;
    padding: 15px;
  }

  .display {
    font-size: 1.5em;
    padding: 15px;
  }

  button {
    font-size: 1.2em;
    padding: 10px;
  }
}

@media screen and (max-width: 400px) {
  .calculator {
    width: 100%;
    padding: 10px;
  }

  .display {
    font-size: 1.2em;
    padding: 10px;
  }

  button {
    font-size: 1em;
    padding: 8px;
  }
}
